/*Contact Page*/
.header {
    padding-top: 4em;
    padding-bottom: 4em;
}

.boxed {
    position: relative;
    width: 65%;
    height: 35%;
    background-color: #F5F5F5;
    padding: 4.5em 8em 4.5em 4em;
    color: #404040;
}

.boxed p {
    color: #6f6957;
    margin: 0em !important;
}

.icon {
    width: 6rem;
    text-align: center;
    margin-right: 1rem;
}

span {
    display: inline-block;
}

span .fa-circle {
    color: rgb(104, 92, 78);
}

/* Responsive Header Textbox */
@media screen and (max-width: 1199px) {
    .boxed h4 {
      font-size: 1em;
    }
    .boxed p {
      font-size: 0.8em;
    }
}
  
@media screen and (max-width: 1024px) {
    .boxed h4 {
        font-size: 0.9em;
    }
    .boxed p {
        font-size: 0.75em;
    }
}
  
@media screen and (max-width: 768px) {
    .boxed {
        padding: 5em 3.25em;
    }
    .boxed h4 {
        font-size: 0.85em;
    }
    .boxed p {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 528px) {
    .boxed {
        padding: 4em 2.75em;
    }
    .boxed h4 {
        font-size: 0.75em;
    }
    .boxed p {
        font-size: 0.5em;
    }
    .icon {
        margin-right: 0.5rem;
    }
} 

@media screen and (max-width: 375px) {
    .boxed {
        padding: 3.25em 2em;
    }
    .boxed h4 {
        font-size: 0.75em;
    }
    .boxed p {
        font-size: 0.5em;
    }
    .icon {
        margin-right: 0.5rem;
    }
}    