/*Volunteer Page*/
.bgd {
    padding-top: 1.4em; 
    padding-bottom: 1.4em;
    margin: -1em;
    background-color: #F5F5F5;
}

.header {
    padding-top: 4em; 
    padding-bottom: 4em;
}

/* Header Textbox */
.boxed {
    position: relative;
    background-color: #F5F5F5;
    width: 60%;
    height: 20em;
    padding: 5em 5em;
    color: #404040;
    margin: 5em 0 5em;
}

.boxed p {
    color: #6f6957;
    margin-bottom: 0.5em !important;;
}

.w3-button {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    border-color: transparent;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.4em #D4D4D4;
    padding-top: 1.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: left;
    font-size: 0.75em;
    width: 16rem;
    height: 4rem;
    line-height:1.1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Responsive Header Textbox */
@media screen and (max-width: 1199px) {
    .boxed h4 {
      font-size: 1.4em;
    }
    .boxed p {
      font-size: 0.9em;
    }
}
  
@media screen and (max-width: 1024px) {
    .boxed h4 {
        font-size: 0.9em;
    }
    .boxed p {
        font-size: 0.75em;
    }
}
  
@media screen and (max-width: 768px) {
    .boxed {
        padding: 5em 3.25em;
    }
    .boxed h4 {
        font-size: 0.8em;
    }
    .boxed p {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 528px) {
    .boxed {
        padding: 4em 2.75em;
    }
    .boxed h4 {
        font-size: 0.7em;
    }
    .boxed p {
        font-size: 0.5em;
    }
} 

@media screen and (max-width: 375px) {
    .boxed {
        padding: 3.25em 2em;
    }
    .boxed h4 {
        font-size: 0.65em;
    }
    .boxed p {
        font-size: 0.45em;
    }
} 