/*Young Professionals Page*/
.header {
    padding-top: 4em; 
    padding-bottom: 4em;
}

/* Header Textbox */
.boxed {
    position: relative;
    background-color: #F5F5F5;
    width: 65%;
    height: 30em;
    padding: 4em 6em 4em 4em;
    color: #404040;
}

.boxed p {
    color: #49423D;
    margin: 0.5em !important;;
}

.boxed h4 {
    color: #051B2A,
}

.img-position {
    position: absolute;
    z-index: 2;
}

.sizing {
    width: 70%;
    height: 70%;
    float: right;
    position: relative;
    left: 5em;
    z-index: 2;
}

/* Responsive Header Textbox */
@media screen and (max-width: 1199px) {
    .boxed h4 {
      font-size: 1.4em;
    }
    .boxed p {
      font-size: 0.9em;
    }
}
  
@media screen and (max-width: 1024px) {
    .boxed {
        padding: 5em 3.5em 3.5em;
        height: 25em;
    }
    .boxed h4 {
        font-size: 0.9em;
    }
    .boxed p {
        font-size: 0.75em;
    }
}
  
@media screen and (max-width: 768px) {
    .boxed {
        padding: 5em 3.5em 3.5em;
        height: 25em;
    }
    .boxed h4 {
        font-size: 0.8em;
    }
    .boxed p {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 528px) {
    .boxed {
        padding: 0em 2em;
        height: 25em;
    }
    .boxed h4 {
        font-size: 0.7em;
    }
    .boxed p {
        font-size: 0.5em;
    }
    .sizing {
        left: 4em;
    }
} 

@media screen and (max-width: 375px) {
    .boxed {
        padding: 0em 2em;
        height: 25em;
    }
    .boxed h4 {
        font-size: 0.65em;
    }
    .boxed p {
        font-size: 0.45em;
    }
    .sizing {
        left: 4em;
    }
} 