/*Young Professionals Page*/
.header {
    padding-top: 4em; 
    padding-bottom: 4em;
}

/* Header Textbox */
.boxed {
    position: relative;
    background-color: #F5F5F5;
    width: 60%;
    height: 30em;
    padding: 5em 5em;
    color: #404040;
    margin: 5em 0 5em;
}

.boxed p {
    color: #6f6957;
    margin: 0.5em !important;;
}